<section class="hero" style="background-color: #87CEEB;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
              <%= attachment_image_tag @user, :profile_image, fallback: "no_image.png", class: "profile_image is-rounded" %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                <% if @user.id == current_user.id %>
                <td class="is-size-4">
                  <%= @user.email %>
                <td>
                  <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                <% end %>
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td><%= @user.profile %>
                <td> <%= render 'relationships/follow_button', user: @user %>
              </tr>
            </table>
            <div class="has-text-weight-semibold ml-5">
              <th><%= @user.followers.count %>フォロー</th>
              <th><%= @user.followings.count %>フォロワー</th>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="tabs px-6">
    <div class='tab-buttons'>
      <span class="content1">マイアイテム</span>
      <span class="content2">Music</span>
      <div id='lamp' class='content1'></div>
    </div>
  </div>

<div class='tab-content'>

<div class='content1'>
  <div class="container">
    <div class="columns is-multiline">
      <% @user.items.each do |item| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image, fallback: "no_image.png" %>
                <% end %>
              </figure>
            <div class="subtitle ml-4"><%= link_to item.item_name, item_path(item) %></div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to item_path(item), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book size1" aria-hidden="true"></i>
                    </span>
                    このアイテムを見る
                  <% end %>
                <% if @user.id == current_user.id %>
                  <%= link_to edit_item_path(item), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-edit size1"></i>
                    </span>
                    このアイテムを編集する
                  <% end %>
                  <%= link_to item_path(item), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                    <span class="panel-icon">
                        <i class="fas fa-trash size1"></i>
                    </span>
                    このアイテムを削除する
                  <% end %>
                  <% end %>
                </div>
              </div>
            <div class="content">
                <time><%= item.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
  
<div class='content2'>
  This is the content of 2 container.This will be open when button 2 is clicked.This is the content of 2 container.This will be open when button 2 is clicked.This is the content of 2 container.This will be open when button 2 is clicked.
  <div class="container">
    <div class="columns is-multiline">
      <% current_user.like_items.each do |item| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image, fallback: "no_image.png" %>
              </figure>
            <div class="subtitle ml-4"><%= link_to item.item_name, item_path(item) %></div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to item_path(item), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book size1" aria-hidden="true"></i>
                    </span>
                    このアイテムを見る
                  <% end %>
                </div>
              </div>
            <div class="content">
                <time><%= item.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
            </div>
          </div>
        </div>
      </div>
                <% end %>
                <% end %>
      </div>
  </div>
</div>
</div>

<div class='credit'>
</div>

<script>
$('.tab-content>div').hide();
$('.tab-content>div').first().slideDown();
  $('.tab-buttons span').click(function(){
    var thisclass=$(this).attr('class');
    $('#lamp').removeClass().addClass('#lamp').addClass(thisclass);
    $('.tab-content>div').each(function(){
      if($(this).hasClass(thisclass)){
        $(this).fadeIn(800);
      }
      else{
        $(this).hide();
      }
    });
  });
</script>