<section class="hero is-success is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アイテム一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @items.each do |item| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image %>
                  <div class="title ml-4"><%= link_to item.item_name, item_path(item) %></div>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag item.user, :profile_image, fallback: "no_image.png", class: "profile_image" %>
                  </figure>
                  </div>
                
              <div class="media-light">
                  <p><strong><%=link_to item.user.username, user_path(item.user) %></strong></p>
                    <div id="index_like_<%= item.id %>">
                <%= render 'likes/like', item: item %>
                </div>
                <div class="time ml-3 pt-1"><time><%= item.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>