<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アイテム一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @items.each do |item| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image %>
                  <div class="title ml-4"><%= link_to item.item_name, item_path(item) %></div>
                <% end %>
              </figure>
            </div>

            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag item.user, :profile_image, fallback: "no_image.png", class: "profile_image" %>
                  </figure>
                  </div>
                
                <div class="media-light">
                  <p><strong><%=link_to item.user.username, user_path(item.user) %></strong></p>
                <% if current_user.already_liked?(item) %>
                  <%= link_to item_likes_path(item), method: :delete do %>
                    <i class="fas fa-heart size"></i>
                  <% end %>
                  <%= item.likes.count %>
                <% else %>
                  <%= link_to item_likes_path(item), method: :post do %>
                    <i class="far fa-heart size"></i>
                  <% end %>
                  <strong><%= item.likes.count %></strong>
                <% end %>
                <div class="time ml-3 pt-1"><time><%= item.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</div>
              </div>
              </div>
                
                <div class="card-footer">
                <div class="card-footer-item-is-left">
                <div class="content average-score">
                  <div class="star-rating">
                    <div class="star-rating-front" style="width: <%= item.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  </div>
                  </div>
                  <div class="card-footer-item-is-light">
                  <div class="average-score-display ml-3 pt-2">
                    <%= item.avg_score %>点
                    （<%= item.reviews.count %>件のレビュー)
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
            </div>
      <% end %>
    </div>
    </div>
</section>