<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アイテム詳細
      </h1>
    </div>
  </div>
</section>

<div class="tile is-ancestor">
  <div class ="tile is-vertical is-parent is-7">
            <div class="card ml-4">
              <div class="card-image">
                <figure class="image is-4by3">
                  <%= attachment_image_tag @item, :image %>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-3"><%= @item.item_name %></p>
                  </div>
                <div class="media-content is-light">
                  <div id="show_like_<%= @item.id %>">
                    <%= render 'likes/like', item: @item %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class = "tile is-parent is-vertical is-4">
      <div class="tile is-child">
        <p><strong>エリア</strong></p>
        <div id="keyword"><%= @item.location %></div>
        <div id="target"></div>
          <div id="map" style="width:420px; height:320px">
          <%= javascript_pack_tag "map.js",'data-turbolinks-track': 'reload' %>
      </div>
    </div>

      <article class="tile is-child box">
        <table class="table">
                <tr>
                <th>商品説明</th>
                </tr>
                <tr>
                  <td><%= simple_format @item.content %></td>
                </tr>
                <tr>
                  <th>日持ち
                  <td><%=@item.best_before_date %>
                </tr>
                <tr>
                  <th>価格帯
                  <td><%= @item.price%>
                </tr>
          </table>
          <% if @item.user.id == current_user.id %>
          <%= link_to "編集画面へ", edit_item_path(@item), class: "button is-success" %>
          <%= link_to "削除する", item_path(@item), method: :delete, class: "button is-danger" %>
          <% else%>
          <article class="panel is-link">
          <p class="panel-heading">
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @item.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@item.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @item.user.username %> さんのページへ
          <% end %>
        </article>
          <% end %>
        </article>
        </div>
      </div>
  </div>

    <div class="tile is-child pl-5">
        <%= render partial: 'reviews/star', review: @review, item: @item %>
        <button type="button" id="button" class="button is-info is-light is-midium is-active ml-5">この商品のレビューをかく</button>
        <%= render partial: 'reviews/form', review: @review, item: @item %>
        <%#= javascript_pack_tag "modal.js",'data-turbolinks-track': 'reload' %>
        <%#= javascript_pack_tag "review.js",'data-turbolinks-track': 'reload' %>
    </div>

<% if false %>
    <section class= "section">
      <% link_to item_reviews_path(@reviews) %>
        <% @reviews.each do |review| %>
          <div class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <%= attachment_image_tag review.user, :profile_image, fallback: "no_image.png", class: "profile_image" %></p>
            </figure>
          <div class="media-content">
            <p class="balloon1">
          <td><strong><%= review.user.username %>さん</strong></td>
          <td>ランク<%= review.score %></td>
          <td>コメント：<%= review.content %></td>
            </p>
          </div>
          </div>
        <% end %>
    </section>
<% end %>
