<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アイテム詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @item, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @item.item_name %></p>
              </div>
              <div class=media-content is-light">
              <div id="show_like_<%= @item.id %>">
              <%= render 'likes/like', item: @item %>
              </div>
            </div>
            <div class="content is-3">
              <table class="table is-narrow">
                <tr>
                  <th>商品</th>
                </tr>
                <tr>
                  <td><%= simple_format @item.content %></td>
                </tr>
              </table>
              <% if @item.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_item_path(@item), class: "button is-success" %>
                <%= link_to "削除する", item_path(@item), method: :delete, class: "button is-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="cloumn is-4">
        <%= render partial: 'reviews/star', review: @review, item: @item %>
        <%= render partial: 'reviews/form', review: @review, item: @item %>
        <%= javascript_pack_tag "modal.js",'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag "review.js",'data-turbolinks-track': 'reload' %>
      </div>
    </div>
  </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @item.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@item.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @item.user.username %> さんのページへ
          <% end %>
        </article>
      </div>

  <% @reviews.each do |review| %>
    <div class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <%= attachment_image_tag review.user, :profile_image, fallback: "no_image.png", class: "profile_image" %></p>
      </figure>
      <div class="media-content">
        <p class="balloon1">
          <td><strong><%= review.user.username %>さん</strong></td>
          <td>ランク<%= review.score %></td>
          <td>コメント：<%= review.content %></td>
        </p>
      </div>
    </div>
  <% end %>
</section>