<div class="modal" id="page-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-danger-light">
      <p class="modal-card-title has-text-grey-light">レビューする</p>
      <button class="delete" aria-label="close" id="hide"></button>
    </header>
    <section class="modal-card-body has-background-grey-light">
      <div class="rating-box mt-3">
      <%= form_for([@item,@score,@review], url: item_reviews_path(@item), local: true) do |f| %>
      <div class="ratings mb-3">
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
        <span class="fa fa-star-o" id="star"></span>
      </div>
      <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5
      </div>
    </div>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :score, id: "rating-value" %>
    <div id="reviewTexteria"><%= f.text_area :content, class: "textarea" %></div>
    <%= f.submit "登録", class: "button mt-3 has-background-danger-light has-text-grey" %>
  <% end %>
    </section>
</div>

<%= javascript_pack_tag "review.js",'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag "modal.js",'data-turbolinks-track': 'reload' %>
